extends layouts/main.pug

block content
    main
        if products.length > 0
            .grid
            each product in products
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    .card__image
                        img(src="" alt="image")
                    .card__content
                        h2.product__price $19.99
                        p.product__description Avery interesting book...
                    .card__actions
                        button(class="btn") Add to cart

        else 
            p No products added 
        h1 Products
        